body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  rgb(21, 21, 45);
}
.main{
    height: 70vh;
    width: 30vw;
    /* border: 2px solid; */
    border-radius: 16px;
    display: inline-block; 
    background-color: rgb(35, 35, 103);
}
.img{
    height: 30vh;
    width: 25vw;
    border-radius: 16px;
    justify-self: center;
    margin-top: 16px;
}
.img img{
    height: 30vh;
    width: 25vw;
    border-radius: 16px;
    /* justify-self: center;
    align-items: center; */
}
.one{
    height: 5vh;
    width: 4vw;
    border-radius: 50px;
}
.one img{
    height: 5vh;
    width: 3vw;
    border-radius: 50px;
}
.second{
    /* margin-left: 25px; */
    display: flex;
    margin-top: 25px;
}
.two{
    margin-top: 5px;
    color: rgb(122, 108, 108);
}
.two span{
    color: aliceblue;
    margin-left: 5px;
}
h2,h3{
    margin-left: 25px;
}
h2{
    color: aliceblue;
    font-size: 25px;
    font-weight: 400;
}
h4{
    margin-left: 25px;
    color: rgb(68, 233, 178);
}
h4 span{
 color: rgb(122, 108, 108);
}
.left{
    height: 5vh;
    width: 20vw;
    display: flex;
    display: inline;
    justify-self: flex-end;
    margin-left: 140px;
}
h3{
    color: rgb(122, 108, 108);
    font-weight: 300;
    font-size: 16px;
}
.one,.two{
    display: inline-block;
}